* {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
p,
li,
form,
form::placeholder,
textarea {
    font-family: $fuentePrincipal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $textSemi;
    text-transform: $transformUpp;
}

body {
    margin: 0;
    padding: 0;
    background-color: $colorFondo;
    width: auto;
    height: auto;
}


.titulo {
    font-size: $tituloPrincipal;
    text-align: center;
    margin-top: 40px;
    color: $colorNaranja;
    padding-bottom: 20px;
}


.intro {
    font-size: $parrafoSize;
    align-items: center;
    @media (min-width: 1024px) {
        .intro {
            font-size: $fontSmall;
        }
    }
}

.migajas {
    background-color: rgba(235, 144, 18, 1);
    padding-left: 50px;

    .breadcrumb-item+.breadcrumb-item::before {
        float: left;
        padding-right: 0.5rem;
        color: $colorFondo;
        content: var(--bs-breadcrumb-divider, "/");
    }
    .breadcrumb-item.active {
        color: $colorTextos;
    }

    a {
        color: $colorFondo;
        text-decoration: none;
    }
}


img,
svg {
    vertical-align: middle;
}

* {
    margin: 0px;
    padding: 0px;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: $colorFondo;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    justify-content: center;
    img {
        width: 200px;
    }
}
.card-img,
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 100%;
}

.bloquetexto {
    font-size: $parrafoSizeMd;
}
.nosotrosimg {
    width: 100%;
    height: 100%;
}

.titulon {
    justify-content: center;
    font-size: $tituloPrincipal;
    text-align: center;
    margin-top: 40px;
    color: $colorNaranja;
    padding-bottom: 20px;
}

.fign {
    margin: 10px;
    padding: 40px;
}

.sneakers {
    img {
        width: 300px;
        height: 300px;
    }
    button {
        background-color: orange;
        color: $colorFondo;
        font-size: $fontMd;
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 80%;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
            background: linear-gradient(90deg, rgba(235, 144, 18, 1) 0%, rgba(184, 170, 31, 1) 41%, rgba(167, 180, 32, 1) 60%, rgba(234, 149, 19, 1) 100%);
            transition: all 3s;
        }
    }
}

.btn-primary {
    background-color: $colorNaranja;
    border: 0px;
    &:hover {
        background-color: red;
        border: 0px;
    }
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
    color: $colorNaranja;
    font-size: $parrafoSizeMd;
}

#tabs .accordion-button:first-child {
    background-color: $colorNaranja;
    color: $colorFondo;
}

.form-label {
    color: rgba(235, 144, 18, 1)
}